@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: -20px 0 50px;
}

h2{
	font-weight: bold;
    text-size-adjust: medium;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
    
}

span {
	font-size: 15px;
    font-weight: bold;
}

a {
	color: #000;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

a.text {
	color: #000;
	font-size: 15px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #cb9bfe;
	background-color:#cb9bfe;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin-top: 1em;
}

button.but {
	border-radius: 20px;
	border: 1px solid #cb9bfe;
	background-image: -moz-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
    background-image: -ms-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
    padding: 12px 40px;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    padding-bottom: 1em;
}

.contain {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
    margin-left: 7em;
	overflow: hidden;
	width: 80%;
	max-width: 80%;
    max-width: 90%;
	min-height: 480px;
}

.form-contain {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
    
}

.sign-in-contain {
	left: 0;
	width: 50%;
	z-index: 2;
}

.contain.right-panel-active .sign-in-contain {
	transform: translateX(100%);
}

.sign-up-contain {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.contain.right-panel-active .sign-up-contain {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}


.over-contain {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.contain.right-panel-active .over-contain{
	transform: translateX(-100%);
}

.over {
	background-image: -moz-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
    background-image: -ms-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.contain.right-panel-active .over {
  	transform: translateX(50%);
}

.over-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.over-left {
	transform: translateX(-20%);
}

.contain.right-panel-active .over-left {
	transform: translateX(0);
}

.over-right {
	right: 0;
	transform: translateX(0);
}

.contain.right-panel-active .over-right {
	transform: translateX(20%);
}

.social-contain {
	margin: 20px 0;
}

.social-contain a {
	border: 1px solid #DDDDDD;
    background-image: -moz-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
    background-image: -ms-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 30px;
	width: 30px;
}

.contain #error_message{
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 0px;
	width: 100%;
	background-image: -moz-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
    background-image: -ms-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
	text-align: center;
	font-size: 15px;
	transition: all 0.5s ease;
	color: #000;

}