.genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent;
  }
  
  .genric-btn.success:hover {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff;
  }
  
  .genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff;
  }
  
  .genric-btn.success-border:hover {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent;
  }