.feature-area {
    background: url(../img/feature-bg.jpg) center;
    background-size: cover;
}

.protfolio-widget p a{
    font-weight: 500;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.protfolio-widget p a:hover {
    /**background: -webkit-linear-gradient(#8a90ff,#3039e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;**/
    color:#8a90ff ;
    
  }